.App {
  text-align: center;
}

.drag-container {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

.levels-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.level-container {
  text-align: center;
  height: 90%;
  width: 90%;
  display: grid;
  align-self: center;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.head {
  display: flex;
  font-size: 2rem;
  font-weight: 350;
  justify-content: center;
  align-items: center;
  height: 10%;
  margin: 0;
  padding: 0;
  color: black;
  background-color: white;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.75);
  width:100%;
}